@media (min-width: 992px) {
    .custom-align {
        align-self: end;
    }
}

body {
    padding-bottom: 70px;
}

.breed-link {
    text-decoration: none;
    color: #445261;
}

.breed-link:hover {
    text-decoration: none;
    color: burlywood;
}